<div class="position-relative">
  <div
    class="p-2 p-md-4 d-flex flex-column justify-content-center align-items-center"
  >
    <app-badge [textContent]="'Our blog'"></app-badge>
    <h1 class="mt-2 text-center">Resources and insights</h1>
    <p class="text-center px-1 px-md-4 mt-3">
      The latest industry news, interviews, technologies, and resources.
    </p>
    <div class="mt-2">
      <app-search-box></app-search-box>
    </div>
  </div>
  <img
    class="position-absolute top-100 w-100 z-n1"
    src="assets/images/background.svg"
  />
</div>
