@import '../../../../../styles/variable.scss';

@media only screen and (max-width: 576px){
    .card-cointaner {
        margin: 0;
        padding: 0.25rem
    }
}
.btn{
    background-color: $light-purple-color;
    color: $secondary-color;
    border: 8px;
    font-size: 16px;
    font-weight: 500;
}
.icon{
    color: $secondary-color; 
}
.error-message{
    font-size: 20px;
    color: $secondary-color;
    font-weight: 600;
}
.custom-spinner {
    color:  $secondary-color !important; 
    width: 6rem !important; 
    height: 6rem !important;
  }