<div class="mt-5">
  <div class="row m-0 p-0 mb-4 mb-md-5">
    <ng-container *ngIf="blogs.length; else emptyContent">
      <div class="col-sm-6 col-md-4 mb-4 mb-md-5 card-container" *ngFor="let blog of blogs; trackBy: trackById">
        <app-blog-card [blog]="blog" class="h-100"></app-blog-card>
      </div>
    </ng-container>

    <ng-template #emptyContent>
      <app-empty-blog *ngIf="!isLoading && !isError" (tryAgain)="fetchArticles()"></app-empty-blog>
    </ng-template>

    <app-error-blog *ngIf="isError"></app-error-blog>

    <div *ngIf="isError" class="mb-5 d-flex justify-content-center align-items-center">
      <button class="btn" (click)="fetchArticles()">
        <i class="bi bi-hand-index-thumb icon"></i> &nbsp; Try again
      </button>
    </div>

    <div *ngIf="!isError && blogs.length > 0 && !isLoading" class="mb-5 d-flex justify-content-center align-items-center">
      <button class="btn" (click)="loadMoreArticles()">
        <i class="bi bi-arrow-down icon"></i> &nbsp; Load more
      </button>
    </div>

    <!-- Loading Spinner -->
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
      <div class="spinner-grow custom-spinner" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
