@import '../../../../../styles/variable.scss';

img{
    width: 40px;
    height: 40px;
}
.user-name{
    font-size: 13px;
    color: black;
    font-weight: 600;
}
.blog-date{
    font-size: 12px;
color: $dark-gray-color;
}