<div
  class="blog-card bg-white h-100 d-flex flex-column"
  (click)="navigateToLink()"
>
  <div class="flex-grow-1">
    <img class="img-fluid" [src]="blog.social_image" alt="" />
    <div class="mt-3 mt-lg-4">
      <p class="blog-type p-0 mb-3">{{ blog.type_of }}</p>
      <div class="d-flex align-items-center justify-content-between w-100">
        <p class="blog-title m-0 p-0">{{ blog.title }}</p>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M7 17L17 7M17 7H7M17 7V17"
              stroke="#101828"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <p class="blog-description mt-2">{{ blog.description }}</p>
    </div>
  </div>

  <div class="mt-4 mt-lg-5">
    <app-user-blog [blogUser]="blog"></app-user-blog>
  </div>
</div>
